@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

@keyframes appear{
  from{
    opacity: 0;
    clip-path: insert(100% 100% 0 0);
    scale: 0.5;
    transform: translateX(-100px) 
  }
  to{
    opacity: 1;
    /* clip-path: insert(0 0 0 0); */
    scale: 1;
    transform: translateX(0px) 
  }
}

.block{
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
